<div class="section" style="padding-top: 20px;">

  <div class="container">
    <div class="row">
      <div class="col-md-12" >
          <div id="inc.mensagem">
            <h1>A sua inscrição foi efetuada com sucesso!!!</h1>
              <br />
          </div>
        <h3>As atividades serão realizadas nos dias: </h3> <br />
        29 e 30 de setembro de 2016
        <h3>Ações </h3>
        <a href="#perfil">Modificar dados do perfil</a>
        <br />
        <a href="#questionario">Responder novamente ao questionario</a>
          <br />
          Obs.: Os certificados serão enviados por e-mail e disponíveis no site.
        <br />
        <br />
        <img src="/static/img/bemvindo.png" />
        <br />
    </div>
  </div>
</div>
</div>