<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
  </head><body>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Certificados</h1>
            <p>
              <a href="#">Certificado de Apresentação de trabalho (Clique aqui para imprimir)</a>
            </p>
            <p>Nome do trabalho</p>
            <p>
              <a href="#">Certificado de Participação (Clique aqui para imprimir)</a>
            </p>
            <p>
              <br>
            </p>
          </div>
          <div class="row">
            <div class="col-md-12">Dados da Inscrição Código de Inscrição: 2928914 Modalidade: Estudantes,
              Usuários Familiares (Não-Sócios) Data de inscrição: 25/12/2015 Pedido 031606
              - R$ 80,00 - Pago (Emitir recibo de pagamento) Estudantes, Usuários Familiares
              (Não-Sócios) (1ª faixa - até 25/12/2015) - R$ 80,00 Dados Pessoais Login:
              suzi7954 Forma de pagamento: PagSeguro CPF: 038.481.151-58 RG: 1878159-4
              (ssp-mt) Naturalidade: juina mt Nome: Suzicleia Elizabete de Jesus Franco
              Sexo: Feminino Data de nascimento: 18/07/1989 (26 anos) Formação Titulação:
              Graduando(a) Curso de titulação: Enfermagem Instituição de titulação: UFMT
              Semestre Atual: segundo Atuação Profissional Situação Profissional: OutroFiliação
              institucional: (Não informado)Função institucional/Cargo: (Não informado)Áreas
              de atuação (informe as áreas de atuação separadas por ponto e vírgula):
              (Não informado) Dados de endereço Logradouro: Av. B, s/n Bairro: Joõ rocha
              Município / UF: Pntal do araguaia / MT CEP: 78698-000 Dados de contato
              E-mail: suzicleia@hotmail.com Telefone: (Não informado) Celular: (066)
              9212-0192</div>Trabalhos submetidos Roda de Conversa Relato da vivência
            na realidade do Sistema Único de Saúde a partir do projeto VER-SUS Mato
            Grosso Código do trabalho: 7287933 Data de cadastro: 05/02/2016
            <br>
          </div>
        </div>
      </div>
    </div>
  

</body></html>